<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="container-btn ml-3">
        <button class="btn btn-hero-primary btn-demo">Train New Data Set</button>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<div class="row">
  <div class="col-6">
      <nb-card>
        <nb-card-header>
          Training Accuracy
        </nb-card-header>
          <nb-card-body>
              <ngx-echarts-line></ngx-echarts-line>
          </nb-card-body>
        </nb-card>
  </div>
  <div class="col-6">
      <nb-card>
          <nb-card-header>
              Training Cost
            </nb-card-header>
          <nb-card-body>
              <ngx-echarts-line></ngx-echarts-line>
          </nb-card-body>
        </nb-card>
  </div>
</div>